*{
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e3f2fd;
    margin: 0;
    padding: 30px;
}

.card {
    max-width: 600px;
    margin: 0 auto;
    padding: 32px;
    background-color: #ffffff;
    border: 4px solid #2196f3;
}

.card h1 {
    color:#0d47a1;
    font: size 1em;
    line-height: 1.5;
}
